* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.nav {
    display: flex;
    background-color: rgb(218, 51, 51);
    color: white;
    justify-content: space-around;
    line-height: 35px;

}

.social {
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;

}

ul {
    list-style: none;
}

.social li{
    height: 25px;
    width: 25px;
    background-size: cover;
    filter: invert(100%);
}

.facebook {
    background-image: url("Images/facebook.png");
   
}

.twitter {
    background-image: url("Images/twitter.png");
   
}

.instagram {
    background-image: url("Images/instagram.png");
  
}

.locate {
    background-image: url("Images/location.png");
    height: 25px;
    width: 25px;
    background-size: cover;
    filter: invert(100%);

}

.store {
    display: flex;

}
.shapes{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
}

.logo {
    display: flex;
    background-image: url("Images/logo.svg");
    background-repeat: no-repeat;
    justify-content: space-evenly;
    margin-top: 25px;
}

.img {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 20px;
    /* border: 2px solid rgb(219, 218, 218); */
    margin-left: 500px;
    gap: 0.5vw;

}

.img input {
    border: 2px solid rgb(219, 218, 218);
    background-image: url(Images/download.svg);
    background-repeat: no-repeat;
    background-position: 112px center;
}
.heart {
    background-image: url("Images/heart.png");
    height: 28px;
    width: 30px;
    background-size: cover;
}

.signup {
    background-image: url("Images/follower.png");
    height: 40px;
    width: 40px;
    background-size: cover;
}

.addtocart {
    background-image: url("Images/add-to-cart.png");
    height: 28px;
    width: 30px;
    background-size: cover;
}
.mainnav ul {
    display: flex;
    margin-top: 35px;
    justify-content: space-around;
    border: 1px solid rgb(233, 228, 228);
    height: 50px;
    align-items: center;
}

.container {
    
    animation-name: changeBackground;
    height: 300px;
    width: 100%;
    background-size: cover;
    animation-duration: 15s;
    animation-delay: 0s;
    /* animation-timing-function: ease-in; */
    animation-iteration-count: infinite;
    margin-top: 189px;
}

@keyframes changeBackground {
    0% {
        background-image: url("Images/desktop_1137ce08-c2d1-45d4-9c4f-fe2481824d83\ \(2\).jpg");
    }
    25%{
        background-image: url("Images/desktop_1_1ff9a2ed-9bc1-4807-89ed-22266f547f2a.jpg");
    }
    50%{
        background-image: url("Images/desktop_6.jpg");
    }
    100% {
        background-image: url("Images/desktop_b493ff6a-4cd6-417d-b7f7-6365579b1558.jpg");
    }
}
.cod{
    display: flex;
    justify-content: space-around;
    background-color: rgb(248, 250, 252);
    height: 235px;
    align-items: center;
    margin-top: 25px;
}
.freeshipping{
    background-image: url("Images/Trust-SVG_9ccd55a7-9769-4184-8ad7-88367413b64c.svg");
    height: 90px;
    width: 90px;
    background-size: cover;
}
.customers{
    background-image: url("Images/COD-SVG_8bd257d3-8d3f-4ad0-a9b7-28fe5942d2c2.svg") ;
    height: 90px;
    width: 90px;
    background-size: cover;
}

.return{
    background-image: url("Images/Free-Shipping-SVG_a637e216-9b53-4aff-a893-fd4171199058.svg");
    height: 90px;
    width: 90px;
    background-size: cover;
    
}

.cash{
    background-image: url("Images/15-Day-Return-SVG.svg");
    height: 90px;
    width: 90px;
    background-size: cover;
}

.cod p {
    margin-top: 100px;
}

.main{
    margin-top: 37px;
    background-color: rgb(245, 227, 230);
    
}
.main>p{
    font-size: 30px;
}

.main pre{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.main span{
    background-color: green;
    font-style: italic;
}
.bangles{
    display: flex;
    justify-content: space-around;
}
.bangles div{
    height: 300px;
    width: 300px;
    background-size: cover;
}
 .bangle1{
    background-image: url("Images/1677587730309_154308_376867_K_1024x1024.jpg");
   
}
.bangle2{
    background-image: url("Images/1676611165116_155035_375864_K_360x.jpg");
    
}
.bangle3{
    background-image: url("Images/_bangle_151856_34908777611420_36a3e101-6aa0-47d4-9d2b-45b4bb4b3dca_1024x1024.jpg");
  
}
.bangle4{
    background-image: url("Images/antique-bangle-antique-bangle-148425-37651493486748.jpg");
    
}
.discount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    
}
.imge{
    margin-top: 50px;
    height: 450px;
    width: 350px;
    background-size: cover;
    
}
.discount>button{
    background:none;
    border:none;
}
#img1{
    background-image: url("Images/1_22.jpg");
    
}
#img2{
    background-image: url("Images/4_4_d373571b-f426-4edb-9880-cea1fec9c7f1.jpg");
    
}
#img3{
    background-image: url("Images/4_6_b89fca14-2f46-4b11-b706-4c451d7ab38c.jpg");
    
}
#img4{
    background-image: url("Images/2_14.jpg");
    
}
#img5{
    background-image: url("Images/3_13.jpg");
   
}

#img6{
    background-image: url("Images/3_132.jpg");
    
}
#img7{
    background-image: url("Images/2_14_64315cf3-3b15-4820-92ba-5c3dde13ac9d.jpg");
   
}
#img8{
    background-image: url("Images/2_14_510b9249-11b3-4e74-ae7d-5e8bc363c571.jpg");
    
}

#img9{
    background-image: url("Images/2_14_64315cf3-3b15-4820-92ba-5c3dde13ac9d.jpg");
    
}





.dazzling{
    margin-top: 37px;
    background-color: rgb(245, 227, 230);
    
}
.dazzling>p{
    font-size: 30px;
}

.dazzling pre{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.dazzling span{
    background-color: green;
    font-style: italic;
}
.wear{
    display: flex;
    justify-content: space-around;
}

.wear div{
    height: 300px;
    width: 300px;
    background-size: cover;
}
 .wear1{
    background-image: url("Images/temple-chain-oxidised-gold-silver-temple-chain-150917-36462227423388.avif");
    
}
.wear2{
    background-image: url("Images/temple-chain-gold-silver-temple-back-chain-161405-36300056789148.avif");
    
}
.wear3{
    background-image: url("Images/temple-chain-gold-silver-temple-chain-132308-37666632237212.avif");
    
}
.wear4{
    background-image: url("Images/temple-pendant-green-white-gold-silver-temple-pendant-153794-37667954098332.avif");
  
}


.discount2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    
}
.imges{
    margin-top: 50px;
    
}
.discount>button{
    background:none;
    border:none;
}
.discount2 div{
    height: 450px;
    width: 350px;
    background-size: cover;
}
#imge1{
    background-image: url("Images/1_22_1e131b5c-c2c9-4e9b-9f76-bb5bdbc7d55a.jpg");
    
}
#imge2{
    background-image: url("Images/1_22_2df36c52-a815-4792-86e6-72c609814c62.jpg");
    
}
#imge3{
    background-image: url("Images/1_22_4d29fdcb-1130-483a-9460-b14ab691bd04.jpg");
   
}
#imge4{
    background-image: url("Images/1_22_60d2f70c-ec1a-4be1-99a7-690b0120f5f5.jpg");
    
}
#imge5{
    background-image: url("Images/1_22_4228c8ac-e0a4-4f38-8d07-46fbc92f160d.jpg");
   
}

#imge6{
    background-image: url("Images/1_22_ceba0fb2-b4aa-4c84-b9ec-b304bccbdfd8.jpg");
    
}
#imge7{
    background-image: url("Images/1_22_ea489556-116c-4a9d-9baf-ec4be4eb936b.jpg");
    
}
#imge8{
    background-image: url("Images/2_14_89ba2eaa-b7fb-4946-b6ea-75e2c33e4d61.jpg");
    
}

#imge9{
    background-image: url("Images/2_14_94713c61-cd15-4fa5-a9bf-73cb6419e7f9.jpg");
    
}



.stars{
    margin-top: 37px;
    background-color: rgb(245, 227, 230);
    height: 400px;
    
}
.stars>p{
    font-size: 30px;
}

.stars pre{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.stars span{
    background-color: green;
    font-style: italic;
}
.star{
    display: flex;
    margin-top: 35px;
    /* justify-content: space-around; */
}

.star div{
    height: 230px;
    width: 224px;
    background-size: cover;
}
 .star1{
    background-image: url("Images/deepika.jpeg");
    
}
.star2{
    background-image: url("Images/mrunal.jpg");
    
}
.star3{
    background-image: url("Images/hinakhan.jpg");
   
}
.star4{
    background-image: url("Images/Sreejita.jpg");
    
}
.star5{
    background-image: url("Images/jaquillene.jpg");
    
}
.star6{
    background-image: url("Images/sunny.jpg");
    
}
.star p{
    position: relative;
    margin-left: 15px;
    top: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.logoo {
    display: flex;
    background-image: url("Images/logo_320x.svg");
    background-repeat: no-repeat;
    justify-content: space-evenly;
    height: 100px;
    width: 200px;
    
}
.logoo>p,pre{
    position: relative;
    top: 60px;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
    
}

.footer>ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.footer ul{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

